* {
  margin: 0px;
  padding: 0px;
}

.app__cards {
  position: relative;
  margin-top: 500px;
  margin-left: 400px;
}

.app__card {
  background-color: #71caf7;
  border-radius: 10px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  width: 368px;
  height: 340px;
  display: flex;
  flex-direction: column;
}

.image img {
  width: 100%;
}

.app__arrow-btn {
  width: 30px;
}
