* {
  margin: 0px;
  padding: 0px;
}

.app__name {
  color: #da0f0f;
  margin-top: 800px;
}

.app__categories {
  display: flex;
  justify-content: center;
  gap: 0px;
  padding: 35px;
  background-color: #e6f2f2;
}

.app__first-div {
  margin-left: 130px;
  margin-right: 90px;
  width: 750px;
}

.app__content-name {
  margin-left: 120px;
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
}

.app__lists {
  padding: 10px;
  margin-left: 140px;
}

.app__list {
  width: 600px;
  height: 70px;
  margin-bottom: 15px;
  margin-right: 700px;
  padding: 20px;
  background-color: #fff;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.app__arrows {
  width: 25px;
  color: rgb(5, 100, 83);
}

.app__travel-name {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.app__travel-guide {
  margin-right: 250px;
}
.app__travel-card {
  width: 650px;
  height: 180px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  gap: 0px;
  justify-content: space-between;
}

.app__travel-guide-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.app__travel-btn {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid rgb(5, 100, 83);
  border-radius: 5px;
  color: rgb(5, 100, 83);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.app__travel-btn:hover {
  background-color: rgb(5, 100, 83);
  color: white;
}

.app__travel-pic {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/boy.png');
  border-radius: 50%;
}
